<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Administración de Test</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>
    <div class="container-fluid">
        <div id="navbar" class="p-3 mb-2 text-white row">
            <div class="col-6 mt-3">
                <img src="../img/testlogo.png" alt="Icono del test" class="logo">
                <div class="titulo">
                    <h1 class="text-light">Administración</h1>
                </div>
            </div>
            <div class="col-6 mt-2">
                <div class="float-right">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="usuario" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-cog"></i> Administrador
                            </a>
                            <div class="dropdown-menu" aria-labelledby="usuario">
                                <button type="button" class="btn dropdown-item perfilLink" data-toggle="modal"
                                    data-target="#list-perfil">
                                    <i class="fas fa-book-reader"></i> Perfil</a>
                                </button>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#logout"> <i class="fas fa-sign-out-alt iconLogout"></i>
                                    Cerrar Sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal fade" id="list-perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Datos del Usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">
                            <i class="fas fa-book-reader"></i> :
                            <!-- Usuario: --> <%= usuarioPerfil %> <br />
                            <i class="fas fa-envelope"></i> :
                            <!-- Correo: --> <%= correoPerfil %>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Editar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 mt-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action btnCursos" id="cursos" data-toggle="list"
                        href="#list-cursos" role="tab" aria-controls="cursos"><i class="fas fa-book"></i>
                        Cursos</a>
                    <a class="list-group-item list-group-item-action" id="profesores" data-toggle="list"
                        href="#list-profesores" role="tab" aria-controls="profesores"><i class="fas fa-user-tie"></i>
                        Profesores</a>
                    <a class="list-group-item list-group-item-action" id="alumnos" data-toggle="list"
                        href="#list-alumnos" role="tab" aria-controls="alumnos"><i class="fas fa-user"></i> Alumnos</a>
                </div>
            </div>
            <div class="col-12 col-md-5 mt-4">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade cursos" id="list-cursos" role="tabpanel" aria-labelledby="list-cursos-list">
                        <div class="card-group">
                            <input type="hidden" value=<%= nombreCursos %>>
                            <% for(let i=0;i<nombreCursos.length;i++){ %>
                            <div class="card tarjetaCursos">
                                <a id="enlace" href="#" class=<%= nombreCursos[i] %>>
                                    <div class="card-body">
                                        <img class="img-fluid imagenCurso" alt="Tom Nook le flipan las bayas"
                                            src=<%= imgCursos[i] %>>
                                        <h5 class="card-title mt-2"><%= nombreCursos[i] %></h5>
                                        <p class="card-text"><%= descripcionCursos[i] %></p>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <!-- Profesores -->
                    <div class="tab-pane fade profesores" id="list-profesores" role="tabpanel" aria-labelledby="list-profesores-list">
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Asignaturas</th>
                                        <th scope="col">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0;i<nombreProfesores.length;i++){ %>
                                    <tr>
                                        <td><%= nombreProfesores[i] %></td>
                                        <td><%= apellidosProfesores[i] %></td>
                                        <td><%= correoProfesores[i] %></td>
                                        <td><%= asignaturasProfesores[i] %></td>
                                        <td>
                                            <button type="button" class="btn btn-success editarProfe"
                                                data-toggle="modal" data-target="#edicion-profesores"
                                                id=<%= idProfesores[i] %>>
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <tr>
                                        <td colspan="5">
                                            <button class="btn btn-success"><i class="fas fa-plus"></i> Nuevo
                                                Profesor</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Alumnos -->
                    <div class="tab-pane fade alumnos" id="list-alumnos" role="tabpanel"
                        aria-labelledby="list-alumnos-list">
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Cursos</th>
                                        <th scope="col">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0;i<nombreAlumnos.length;i++){ %>
                                    <tr>
                                        <td><%= nombreAlumnos[i] %></td>
                                        <td><%= apellidosAlumnos[i] %></td>
                                        <td><%= correoAlumnos[i] %></td>
                                        <td><%= cursosAlumnos[i] %></td>
                                        <td>
                                            <button type="button" class="btn btn-success editarAlumno"
                                                data-toggle="modal" data-target="#edicion-alumnos"
                                                id=<%= idAlumnos[i] %>><i class="fas fa-edit"></i></button>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <tr>
                                        <td colspan="5">
                                            <button class="btn btn-success"><i class="fas fa-plus"></i> Nuevo
                                                Alumno</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Contenido Cursos -->
                    <div class="tab-pane fade mt-4" id="2º-DAW" role="tabpanel">
                        <p>
                            Prueba cursos
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edicion-profesores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edición de Profesores:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action='/administrador/edicionProfesor' name="formProfesores" method="POST">
                        <input type="hidden" id="idProfesor" name="idProfesor">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control nombreProfesor" name="nombreP">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Apellidos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control apellidosProfesor" name="apellidosP">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Correo</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control correoProfesor" name="correoP">
                                </div>
                            </div>
                            <fieldset disabled>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Asignaturas Asignadas</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="disabledTextInput" class="form-control asignaturasP">
                                        </div>
                                    </div>
                            </fieldset>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Asignaturas</label>
                                <div class="col-sm-10">
                                    <select multiple class="form-control asignaturasbdProfesor" name="asignaturasbdP">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edicion-alumnos" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edición de Alumnos:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action='/administrador/edicionAlumno' name="formAlumnos" method="POST">
                        <input type="hidden" id="idAlumno" name="idAlumno">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control nombreAlumno" name="nombreA">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Apellidos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control apellidosAlumno" name="apellidosA">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Correo</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control correoAlumno" name="correoA">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Curso</label>
                                <div class="col-sm-10">
                                    <select class="form-control cursoAlumno" name="cursobdA" multiple>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/acdf8e9705.js" crossorigin="anonymous"></script>
    <script src="../js/rellenarDatos.js"></script>
</body>

</html>