<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.html'); -%>
</head>

<body>
    <div class="container-fluid">
        <!-- Navbar -->
        <%- include('partials/navbar.html'); -%>

        <!-- Perfil -->
        <%- include('partials/perfilUsuario.html'); -%>

        <!-- Listas -->
        <div class="row">
            <%- include('partials/buttons.html'); -%>
        </div>
    </div>

    <!-- Cargar scripts -->
    <%- include('partials/scripts.html') -%>
    <script src="../js/editarBotones.js"></script>
</body>

</html>