<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Error - Administración de Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-2">
        <h1 class="text-black-50 text-center"><%= titulo %></h1>
        <div class="row justify-content-center">
            <div class="col-md-1 mt-4">
                <a href="../" class="btn btn-success">Volver</a>
            </div>
        </div>
    </div>
</body>

</html>