<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./head.html'); -%>
    <title>Administración - Alumnos</title>
    <link rel="stylesheet" type="text/css" href="../../../css/alumnos.css">
</head>

<body>
    <div class="container-fluid">
        <%- include('./navbar.html'); -%>
        <div class="fuente">
            <div class="row float-left botones">
                <div class="col-12 col-sm-9 col-md-8 mt-4">
                    <%- include('./buttons.html'); -%>
                    <button class="btn btn-success mt-3 nuevoAlumno" data-toggle="modal" data-target="#nuevo-alumno">
                        <i class="fas fa-plus"></i> Nuevo Alumno
                    </button>
                    <button class="btn btn-success mt-3 borrarAlumno" data-toggle="modal" data-target="#delete-alumno">
                        <i class="fas fa-trash-alt iconBorrarAlumno"></i> Borrar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 mt-4">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Cursos</th>
                                    <th scope="col">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<nombreAlumnos.length;i++){ %>
                                <tr>
                                    <td><%= nombreAlumnos[i] %></td>
                                    <td><%= apellidosAlumnos[i] %></td>
                                    <td><%= correoAlumnos[i] %></td>
                                    <td><%= cursosAlumnos[i] %></td>
                                    <td>
                                        <button type="button" class="btn btn-success editarAlumno" data-toggle="modal"
                                            data-target="#edicion-alumnos" id=<%= nombreAlumnos[i] %>><i
                                                class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Perfil usuario -->
    <%- include('./perfilUsuario.html'); -%>

    <!-- Edición alumnos -->
    <div class="modal fade" id="edicion-alumnos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edición de Alumnos:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action='/administrador/alumnos/edicion' name="formAlumnos" method="POST">
                    <input type="hidden" id="idAlumno" name="idAlumno">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control nombreAlumno" name="nombreA">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Apellidos</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control apellidosAlumno" name="apellidosA">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Correo</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control correoAlumno" name="correoA">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Curso</label>
                            <div class="col-sm-10">
                                <select class="form-control cursoAlumno" name="cursobdA" multiple>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Nuevo alumno -->
    <div class="modal fade" id="nuevo-alumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Alumno:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action='/administrador/alumnos/nuevo' name="formNuevoAlumno" method="POST">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Usuario*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="newUsuarioA" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nombre*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="newNombreA" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Apellidos*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="newApellidosA" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Contraseña*</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="newPasswordA" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Correo*</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="newCorreoA" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Asignaturas*</label>
                            <div class="col-sm-10">
                                <select multiple class="form-control" name="newAsignaturasA">
                                    <option>DIW</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Añadir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('./scripts.html'); -%>
    <script src="../js/rellenarDatos.js"></script>
</body>

</html>