<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./head.html'); -%>
    <title>Administración - Alumnos</title>
    <link rel="stylesheet" type="text/css" href="../../../css/alumnos.css">
</head>

<body>
    <div class="container-fluid">
        <%- include('./navbar.html'); -%>
        <div class="fuente">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4 mt-2 ml-4 breadCrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="./">Inicio</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Alumnos</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row float-left botones">
                <div class="col-12 col-sm-12 col-md-12 mt-2">
                    <%- include('./buttons.html'); -%>
                    <button class="btn btn-success mt-4 nuevoAlumno" data-toggle="modal" data-target="#nuevo-alumno">
                        <i class="fas fa-plus"></i> Nuevo Alumno
                    </button>
                    <button class="btn btn-success mt-4 borrarAlumno" data-toggle="modal" data-target="#borrar-alumno">
                        <i class="fas fa-trash-alt iconBorrarAlumno"></i> Borrar
                    </button>
                    <div class='<%= tipoAlerta %> mt-4'>
                        <%= mensajedbVacio %>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center contenidoTabla">
                <div class="col-12 col-md-12 col-lg-10 mt-2">
                    <h2 class="text-success">Alumnos</h2>
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Cursos</th>
                                    <th scope="col">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<nombreAlumnos.length;i++){ %>
                                <tr>
                                    <td><%= nombreAlumnos[i] %></td>
                                    <td><%= apellidosAlumnos[i] %></td>
                                    <td><%= correoAlumnos[i] %></td>
                                    <td><%= cursosAlumnos[i] %></td>
                                    <td>
                                        <button type="button" class="btn btn-success editarAlumno" data-toggle="modal"
                                            data-target="#edicion-alumnos" id=<%= nombreAlumnos[i] %>><i
                                                class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fuenteModal">
        <!-- Perfil usuario -->
        <%- include('./perfilUsuario.html'); -%>

        <!-- Edición alumnos -->
        <div class="modal fade" id="edicion-alumnos" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edición de Alumnos:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action='/administrador/alumnos/edicion' name="formAlumnos" method="POST">
                        <input type="hidden" id="idAlumno" name="idAlumno">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control nombreAlumno" name="nombreA">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Apellidos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control apellidosAlumno" name="apellidosA">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Correo</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control correoAlumno" name="correoA">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Curso</label>
                                <div class="col-sm-10">
                                    <select class="form-control cursoAlumno" name="cursobdA" multiple>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Nuevo alumno -->
        <div class="modal fade" id="nuevo-alumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Alumno:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action='/administrador/alumnos/nuevo' name="formNuevoAlumno" method="POST">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Usuario *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="newUsuarioA" placeholder="Escriba aquí el usuario" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nombre *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="newNombreA" placeholder="Escriba aquí el nombre" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Apellidos *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="newApellidosA" placeholder="Escriba aquí los apellidos" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Contraseña*</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="newPasswordA" placeholder="Escriba aquí la contraseña" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Correo *</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="newCorreoA" placeholder="Escriba aquí el correo" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Cursos *</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="newCursosA" required>
                                        <option disabled selected>Ninguno</option>
                                        <option value="2º-DAM">2º DAM</option>
                                        <option value="2º-DAW">2º DAW</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Borrar Alumno -->
        <div class="modal fade" id="borrar-alumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Borrar Alumno:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/administrador/alumnos/borrar" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Seleccione alumno a borrar</label>
                                <select multiple class="form-control" name="selectAlumnos">
                                    <% for(let i=0;i<nombreAlumnos.length;i++){ %>
                                        <option value=<%= nombreAlumnos[i] %>><%= nombreAlumnos[i] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success borrarAlumno">
                                <i class="fas fa-trash-alt iconBorrarAlumno"></i> Borrar
                            </button>
                            <button type="button" class="btn btn-primary volverAlumno" data-dismiss="modal">
                                <i class="fas fa-undo"></i> No
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('./scripts.html'); -%>
    <script src="../js/rellenarDatos.js"></script>
</body>

</html>