<div class="list-group listBotones" id="list-tab" role="tablist">
    <form action="/administrador/cursos" method="post">
        <button class="list-group-item list-group-item-action btnCursos" id="cursos" type="submit"><i
                class="fas fa-book"></i>
            Cursos</button>
    </form>
    <form action="/administrador/profesores" method="post">
        <button class="list-group-item list-group-item-action btnProfesores" id="profesores" type="submit"><i
                class="fas fa-user-tie"></i>
            Profesores</button>
    </form>
    <form action="/administrador/alumnos" method="post">
        <button class="list-group-item list-group-item-action btnAlumnos" id="alumnos" type="submit"><i
                class="fas fa-user"></i>
            Alumnos</button>
    </form>
</div>