<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./head.html'); -%>
    <title>Administración - Cursos</title>
    <link rel="stylesheet" type="text/css" href="../../css/cursos.css">
</head>

<body>
    <div class="container-fluid">
        <%- include('./navbar.html'); -%>
        <div class="row float-left botones">
            <div class="col-12 col-md-6 mt-4">
                <%- include('./buttons.html'); -%>
                <button class="btn btn-success mt-4 nuevoCurso" data-toggle="modal" data-target="#list-nuevo">
                    <i class="fas fa-plus" aria-hidden="true"></i> Nuevo Curso
                </button>
            </div>
            <div class="col-12">
                <button class="btn btn-success mt-2 borrarCurso" data-toggle="modal" data-target="#list-cursos-delete">
                    <i class="fas fa-trash-alt iconBorrarCurso"></i> Borrar
                </button>
            </div>
        </div>
        <div class="row">
            <% for(let i=0;i<nombreCursos.length;i++){ %>
            <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2 mt-4">
                <div class="card">
                    <form action="/administrador/cursos/curso" class="formularioCursos" method="GET">
                        <input type="hidden" name="nombre" value=<%= nombreCursos[i] %>>
                        <img class="img-fluid imagenCurso card-img-top" src=<%= imgCursos[i] %>>
                        <div class="card-body">
                            <h5 class="card-title mt-2"><%= nombreCursos[i] %></h5>
                            <p class="card-text"><%= descripcionCursos[i] %></p>
                            <button class="btn btn-success editarCurso" data-toggle="modal" data-target="#list-cursos"
                                id=<%= nombreCursos[i] %>>
                                <i class="fas fa-edit"></i> Editar
                            </button>
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-sign-in-alt"></i> Ir
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <!-- Perfil Usuario -->
    <%- include('./perfilUsuario.html'); -%>

    <!-- Edición Curso -->
    <div class="modal fade" id="list-cursos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Curso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/administrador/cursos/edicion" method="post">
                    <input type="hidden" id="nombreCurso" name="nombreCurso">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control editNombreCurso" name="editNombreC" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control descripcionCurso" name="descripcionC">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Imagen <i class="fas fa-link"></i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control imgCurso" name="imagenC"
                                    placeholder="inserte link">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Guardar
                            cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Nuevo Curso -->
    <div class="modal fade" id="list-nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Curso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/administrador/cursos/nuevo" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control newNombreCurso" name="newNombreC" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control newDescripcionCurso" name="newDescripcionC">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Imagen <i class="fas fa-link"></i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control newImgCurso" name="newImagenC"
                                    placeholder="inserte link">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Añadir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Borrar Curso -->
    <div class="modal fade" id="list-cursos-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Borrar Curso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/administrador/cursos/borrar" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Seleccione curso a borrar</label>
                            <select class="form-control" name="selectCursos">
                                <% for(let i=0;i<nombreCursos.length;i++){ %>
                                    <option><%= nombreCursos[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success borrarCurso">
                            <i class="fas fa-trash-alt iconBorrarCurso"></i> Borrar
                        </button>
                        <button type="button" class="btn btn-primary volverCurso" data-dismiss="modal">
                            <i class="fas fa-undo"></i> No
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('./scripts.html'); -%>
    <script src="../js/rellenarDatos.js"></script>
</body>

</html>