<div id="navbar" class="p-3 mb-2 text-white row">
    <div class="col-6 mt-3">
        <img src="../../../../../img/testlogo.png" alt="Icono del test" class="logo">
        <div class="titulo">
            <h1 class="text-light">Administración</h1>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="usuario" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-cog"></i> Administrador
                    </a>
                    <div class="dropdown-menu" aria-labelledby="usuario">
                        <button type="button" class="btn dropdown-item perfilLink" data-toggle="modal"
                            data-target="#list-perfil">
                            <i class="fas fa-book-reader"></i> Perfil</a>
                        </button>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#logout"> <i class="fas fa-sign-out-alt iconLogout"></i>
                            Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>