<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./head.html'); -%>
    <title>Administración - Tests</title>
    <link rel="stylesheet" type="text/css" href="../../../../../css/tests.css">
</head>

<body>
    <div class="container-fluid">
        <%- include('./navbar.html'); -%>
        <div class="fuente">
            <div class="row float-left botones">
                <div class="col-12 col-sm-9 col-md-8 mt-4">
                    <%- include('./buttons.html'); -%>
                    <button class="btn btn-success mt-3 nuevaPregunta" data-toggle="modal" data-target="#list-pregunta">
                        <i class="fas fa-plus"></i> Nueva Pregunta
                    </button>
                    <button class="btn btn-success mt-3 borrarPregunta" data-toggle="modal"
                        data-target="#list-pregunta-delete">
                        <i class="fas fa-trash-alt iconBorrarCurso"></i> Borrar Pregunta
                    </button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10 mt-4">
                    <div class="card">
                        <form class="formularioTests" action="" method="GET">
                            <div class="card-body">
                                <h5 class="card-title text-success">Pregunta 1</h5>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Enunciado</span>
                                    </div>
                                    <input class="form-control" placeholder="Escribe el enunciado aquí">
                                </div>
                                <button class="btn btn-success mt-4" type="submit">
                                    <i class="fas fa-plus"></i> Nueva Respuesta
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fuenteModal">
        <!-- Perfil Usuario -->
        <%- include('./perfilUsuario.html'); -%>

        <!-- Edición Curso -->
        <div class="modal fade" id="list-cursos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/administrador/cursos/edicion" method="post">
                        <input type="hidden" id="nombreCurso" name="nombreCurso">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nombre</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control editNombreCurso" name="editNombreC" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Descripción</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control descripcionCurso" name="descripcionC">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Imagen <i class="fas fa-link"></i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control imgCurso" name="imagenC"
                                        placeholder="inserte link">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Guardar
                                cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Nuevo Curso -->
        <div class="modal fade" id="list-nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/administrador/cursos/nuevo" method="post">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nombre</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control newNombreCurso" name="newNombreC" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Descripción</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control newDescripcionCurso" name="newDescripcionC">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Imagen <i class="fas fa-link"></i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control newImgCurso" name="newImagenC"
                                        placeholder="inserte link">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Borrar Curso -->
    </div>
    <%- include('./scripts.html'); -%>
    <script src="../js/rellenarDatos.js"></script>
</body>

</html>