<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./head.html'); -%>
    <title>Administración - Tests</title>
    <link rel="stylesheet" type="text/css" href="../../../../../css/tests.css">
</head>

<body>
    <div class="container-fluid">
        <%- include('./navbar.html'); -%>
        <div class="fuente">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4 mt-2 ml-4 breadCrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <% let breadcrumb = breadActual %>
                            <%- include(breadcrumb); -%>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row float-left botones">
                <div class="col-12 col-sm-12 col-md-12 mt-2">
                    <%- include('./buttons.html'); -%>
                    <button class="btn btn-success mt-4 nuevo" data-toggle="modal" data-target="#nuevo">
                        <i class="fas fa-plus"></i> Nuevo test
                    </button>
                    <button class="btn btn-success mt-4 borrar" data-toggle="modal" data-target="#list-delete">
                        <i class="fas fa-trash-alt iconBorrar"></i> Borrar
                    </button>
                    <div class='<%= tipoAlerta %> mt-4'>
                        <%= mensajedbVacio %>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center contenidoTabla">
                <div class="col-12 col-md-12 col-lg-10 mt-2">
                    <h2 class="text-success"><%= nombre1 %></h2>
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Ir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<nombre2.length;i++){ %>
                                <tr>
                                    <td><%= nombre2[i] %></td>
                                    <td>
                                        <form method="GET" action="/administrador/cursos/curso/asignatura/tema/test/detalles">
                                            <input type="hidden" name="nombre" value=<%= nombre2[i] %>>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fas fa-sign-in-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fuenteModal">
        <!-- Perfil Usuario -->
        <%- include('./perfilUsuario.html'); -%>

        <!-- Nuevo Test -->
        <div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nuevo test</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="GET" action="/administrador/cursos/curso/asignatura/tema/test/nuevo">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label">Nombre: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="newNombre" placeholder="Escriba el nombre del test" required>
                                </div>
                                <label class="col-sm-12 col-form-label mt-2">Número de preguntas:</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="numPreguntas" min="1" max="1000" value="1" required>
                                </div>
                                <label class="col-sm-12 col-form-label mt-2">Duración (minutos):</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="duracionTest" value="20" min="3" max="360" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Borrar Test -->
        <div class="modal fade" id="list-delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar test</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="GET" action="/administrador/cursos/curso/asignatura/tema/test/borrar">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="seleccionBorrar">Seleccione para borrar</label>
                                <select multiple class="form-control" name="select">
                                    <% for(let i=0;i<nombre2.length;i++){ %>
                                        <option value=<%= nombre2[i] %>><%= nombre2[i] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success borrar">
                                <i class="fas fa-trash-alt iconBorrar"></i> Borrar
                            </button>
                            <button type="button" class="btn btn-primary volver" data-dismiss="modal">
                                <i class="fas fa-undo"></i> Volver
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./scripts.html'); -%>
    <script src="../../../../js/rellenarDatos.js"></script>
</body>

</html>