#navbar {
    background-color: darkcyan;
    font-family: 'News Cycle', sans-serif;
}

.botones, .fuente, .fuenteModal{
    font-family: 'Varela Round', sans-serif;
}

.logo {
    width: 60px;
}

.titulo{
    display: none;
}

#usuario {
    margin-top: 10px;
    color: white;
}

.iconLogout{
    color: #FF1110;
}

#enlace{
    color: #212529;
}

#enlace:hover{
    color: #212529;
    text-decoration: none;
}

#list-asignaturas, #list-profesores, #list-alumnos{
    font-size: 1.1em;
}

.iconBorrarAlumno{
    color: #f8752a;
}

.listBotones {
    width: 300px;
}

.alert{
    max-width: 300px;
}

@media (min-width: 600px){
    .titulo{
        display: block;
        margin-left: 100px;
        margin-top: -45px;
    }
}

@media (max-width: 933px){
    .breadCrumb{
        margin-left: 0% !important;
        padding-right: 1em;
    }

    .listBotones{
        width: 100%;
    }

    .botones{
        float: none !important;
    }

    .alert{
        max-width: none;
    }

    .contenidoTabla {
        margin-top: 3%;
    }

    .table{
        margin-top: 15px;
    } 
}

@media (max-width: 992px){
    .breadCrumb{
        padding-right: 1em;
        margin-left: 0% !important;
    }
}