#navbar {
    background-color: darkcyan;
    font-family: 'News Cycle', sans-serif;
}

.botones, .fuente, .fuenteModal{
    font-family: 'Varela Round', sans-serif;
}

.logo {
    width: 60px;
}

.titulo{
    display: none;
}

#usuario {
    margin-top: 10px;
    color: white;
}

.iconLogout{
    color: #FF1110;
}

#enlace{
    color: #212529;
}

#enlace:hover{
    color: #212529;
    text-decoration: none;
}

#list-asignaturas, #list-profesores, #list-alumnos{
    font-size: 1.1em;
}

.nombreTest{
    font-family: 'News Cycle', sans-serif;
}

.guionC{
    color: #07ac3e;
    font-size: 1.2em;
    font-weight: bold;
}

.guionI{
    color: #ff6a6a;
    font-size: 1.2em;
    font-weight: bold;
}

.listBotones {
    width: 300px;
}

@media (min-width: 600px){
    .titulo{
        display: block;
        margin-left: 100px;
        margin-top: -45px;
    }
}

@media (max-width: 933px){
    .breadCrumb{
        margin-left: 0% !important;
        padding-right: 1em;
    }

    .listBotones{
        width: 100%;
    }

    .botones{
        float: none !important;
    }
}

@media (max-width: 992px){
    .breadCrumb{
        padding-right: 1em;
        margin-left: 0% !important;
    }
}

@media (min-width: 992px){
    .imagenTest{
        max-width: 200px;
        max-height: 150px;
    }
}

@media (max-width: 1050px){
    .botones{
        float: none !important;
    }
}

/* @media (max-width: 1245px){
    .contenidoTitulos > h5, .duracionTest{
        font-size: 2vh;
    } 
} */